:root {
  --primary-color: #9672FB;
  --secondary-color:#D772FB;
  --header-color:#F9F9F9;
  --text-color:#292929;
  --gradient-color: linear-gradient(180deg, rgb(150, 114, 251) 0%, rgb(215, 114, 251) 100%);
}
/*font-family: 'Playfair Display',serif;
font-family: 'Poppins', sans-serif;
*/
body {
  font-family: 'Poppins',sans-serif;
  color: var(--text-color);
}
h2 {
  font-size: 45px;
  font-weight: bold;
}

.hero h1 {
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 70px;
}

.hero {
  background: var(--header-color);
  padding: 140px 40px;
}


.hero-img {
  width: 100%;
}

.hero p {
  color: var(--text-color);
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}

.hero-text-part {
  color: var(--primary-color);
}
.content {
  padding: 20px 40px;
}

.about-hero h1 {
color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 70px;
}

.about-hero {
  padding: 200px 40px;
}

.about-hero p {
  line-height: 40px;
}

.services {
  padding: 30px 40px;
}
.btn-branding {
  background: var(--gradient-color);
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
}

.btn-branding:hover {
  color: white;
}

p {
  font-size: 16px;
  line-height: 30px;
}

p .built-with {
  font-size: 14px;
  font-weight: bold;
}

.project-description {
  padding: 33px 60px;
}

.hero-about-salutation {
  font-size: 14px;
}






@media (max-width:900px) {
  .hero h1 {
    font-size: 27px;
    line-height: 45px;
    text-align: center;
  }

  .hero p {
    text-align: center;
  }

  h2 {
    font-size: 30px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-description {
    padding: 0;
    text-align: center;
    margin-bottom: 0px;
  }

  .btn-branding {
    margin-top: 0;
  }

  .about-hero {
    text-align: center;
    padding: 0;
  }
  
}